@require '~@/assets/styles/mixins.styl'

font-face( 'JetBrains Mono', '~@/assets/fonts/jetbrains-mono/jetbrains-mono-regular', 400, normal, formats: local woff2 woff, local-font-name: 'JetBrains Mono Regular' )
font-face( 'JetBrains Mono', '~@/assets/fonts/jetbrains-mono/jetbrains-mono-italic', 400, italic, formats: local woff2 woff, local-font-name: 'JetBrains Mono Regular' )
