@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Regular"), url("jetbrains-mono-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Regular"), url("jetbrains-mono-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
