.presentation
	.prism-show-language
		display none

.presentation__title
	text-align center
	margin 0 0 1em
	font 400 $font-size-heading-1/1 $font-stack-heading

	@media (max-width $breakpoint-mobile)
		font-size $font-size-heading-3

.presentation__name
	color $color-blue
	display block
	font-size rem(82px)

	@media (max-width $breakpoint-mobile)
		font-size $font-size-heading-1

.presentation__age
	display block

	span
		color $color-red

.presentation__dev
	color $color-green

	span
		color $color-yellow
