.presentation
	.prism-show-language
		display none

.card
	margin-bottom rem(60px)

.presentation__title
	text-align center
	margin 0
	font 400 rem(82px)/1 $font-stack-heading
	color $color-blue

	@media (max-width $breakpoint-mobile)
		font-size $font-size-heading-3

.presentation__age
	display block
	text-align center
	font 400 $font-size-heading-1/1 $font-stack-heading

	@media (max-width $breakpoint-mobile)
		font-size $font-size-heading-3

	span
		color $color-red

.presentation__birthday
	text-align center
	margin 2em 2rem 0

.presentation__dev
	color $color-green

	span
		color $color-yellow
