.iframe-codepen {
	inline-size: 100%;
	min-block-size: 430px;
}

@media (inline-size <= 768px) {
	.iframe-codepen {
		min-block-size: 380px;
	}

	.picture-full {
		margin-inline: calc(var(--gutter-screen-x) * -1);
		display: block;
		max-inline-size: none;
		max-inline-size: none;
		inline-size: calc(100% + (var(--gutter-screen-x) * 2))
	}
}

.video iframe {
	inline-size: 100%;
	vertical-align: top;
	aspect-ratio: 16/9;
}
