.iframe-codepen {
	width: 100%;
	min-height: 430px;
}

@media (width <= 768px) {
	.iframe-codepen {
		min-height: 380px;
	}

	.picture-full {
		margin-inline: calc(var(--gutter-screen-x) * -1);
		display: block;
		max-width: none;
		max-inline-size: none;
		width: calc(100% + (var(--gutter-screen-x) * 2))
	}
}

.video iframe {
	width: 100%;
	vertical-align: top;
	aspect-ratio: 16/9;
}
