.note {
	margin: var(--gutter-screen-y) auto;
	background: var(--color-surface-light);
	padding: 1em 2em;
	border-left: 4px solid var(--note-color);
	position: relative;

	@media (width <= 768px) {
		margin: var(--gutter-screen-y) calc(var(--gutter-screen-x) * -1);
		padding-top: 2em;
		margin-top: 2.5rem;
		border-left: 0;
		border-top: 4px solid var(--note-color);
	}

	&::before {
		content: var(--icon);
		position: absolute;
		left: -2px;
		translate: -50% 0;
		width: 28px;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-surface-dark);
		border-radius: 50%;
		border-color: var(--note-color);
		background: var(--note-color) 50% no-repeat;

		@media (width <= 768px) {
			left: 50%;
			top: 0;
			translate: -50%;
		}
	}

	&.--info {
		--note-color: var(--color-blue);
		--icon: "ℹ";
	}

	&.--success {
		--note-color: var(--color-green);
		--icon: "✔";
	}

	&.--question {
		--note-color: var(--color-violet);
		--icon: "❓";
	}

	&.--important {
		--note-color: var(--color-yellow);
		--icon: "❗";
	}

	&.--alert {
		--note-color: var(--color-red);
		--icon: "❗";
	}
}
