.post-list
	display grid

.post-list__item
	transition .25s 0s
	background var(--color-background)

	.post__tags
		max-width 50%
		@media $mq-tablet
			margin .5em 0
			max-width none

.post-list__item + .post-list__item
	margin-top 2.5em
	padding-top 2.5em
	border-top 1px solid var(--color-separator)

.post-list__top-link
	float right
	background var(--color-green)
	margin-top rem(10px)
	color var(--color-background)
	border-radius rem(2px)

	&:hover
		background var(--color-red)
		color var(--color-background)

	@media (min-width $breakpoint-mobile)
		display none

.post
	[target="_blank"]::after
		content "⇲"
		vertical-align baseline
		transform translateY(-4px)
		font-size .85em
		margin-left .25em
		display inline-block

	.flex
		@media $mq-tablet
			flex-direction column
			align-items flex-start

	h2
	h3
	h4
		position relative

		&:hover
			.post__anchor
				opacity 1
				transform translateX(-110%)

.post__title
	margin 0
	color var(--color-red)
	font 400 var(--font-size-article-title)/1.25 var(--font-stack-heading)
	overflow auto

	&.--small
		font-size var(--font-size-article-title-small)

.post__date
	color var(--color-blue)

	@media $mq-tablet
		margin .5em 0

.post__tags
		margin .5em 0

.post__header
	margin-bottom 2rem
	padding-bottom 2rem
	border-bottom 1px solid var(--color-separator)

.post__footer
	margin-top 2rem
	padding-top 2rem
	border-top 1px solid var(--color-separator)

.post__help
	font-size .9rem
	margin-top 2rem

.post__description
	margin-top 1em

.post__anchor
	position absolute
	left 0
	opacity 0
	transition .2s ease-in-out
	transform translateX(-75%)

.navigation-previous svg
	width 1.25em
	stroke var(--color-green)
	transform translate(-4px, 5px)
	transition transform .25s ease-in-out

.navigation-previous:hover svg
.navigation-previous:focus svg
	transform translate(-8px, 5px)
	stroke var(--color-yellow)

.navigation-next svg
	transform translate(4px, 5px)
	transition transform .25s ease-in-out

.navigation-next:hover svg
.navigation-next:focus svg
	transform translate(8px, 5px)
	stroke var(--color-yellow)
