@import '../modules/transitions.styl'

.post-list
	display grid

.post-list__item
	transition var(--transition-fast) 0s
	background var(--color-background)
	opacity 0
	@supports (content-visibility auto)
		content-visibility auto

	.tags
		max-width 50%
		display flex
		flex-wrap wrap
		gap 4px

		@media $mq-tablet
			margin .5em 0
			max-width none

.post-list__item + .post-list__item
	margin-top 2.5em
	padding-top 2.5em
	border-top 1px solid var(--color-separator)

.post
	container-type inline-size

	[target="_blank"]::after
		content "⇲"
		vertical-align baseline
		transform translateY(-4px)
		font-size .85em
		margin-left .25em
		display inline-block

	.flex
		@media $mq-tablet
			flex-direction column
			align-items flex-start

	.post__anchor
		position absolute
		left 0
		top .35em
		opacity 0
		font-size .65em
		transition var(--transition-xfast) ease-in-out
		transform translateX(-75%)
		padding-right 10px

	h2
	h3
	h4
		position relative

		&:hover
			.post__anchor
				opacity 1
				transform translateX(-100%)

.post__title
	margin 0
	color var(--color-red)
	font 400 var(--font-size-article-title)/1.25 var(--font-stack-heading)
	// overflow auto

	&.--small
		font-size var(--font-size-article-title-small)

.post__date
	color var(--color-blue)

	time
		color var(--color-blue)

	@media $mq-tablet
		margin .5em 0

.tags
	margin .5em 0
	display flex
	gap 5px

.post__header
	margin-bottom 2rem
	padding-bottom 2rem
	border-bottom 1px solid var(--color-separator)

.post__footer
	margin-top 2rem
	padding-top 2rem
	border-top 1px solid var(--color-separator)

.post__help
	font-size .9rem
	margin-top 2rem

.post__description
	margin-top 1em

.post-content
	text-align justify

.post
	.post__header
	.post__footer
	// .post-content
		@extends .animationBounce

	.post-content
		animation-delay .35s

	.post__footer
		animation-delay .5s

	.post-content
		opacity 0
		@extends .animationFade
		animation-delay .45s
