language: node_js

node_js:
  - '5'

matrix:
  fast_finis: true

cache:
  directories:
    - node_modules

before_install:
  - npm prune

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

env:
  global:
    - NODE_ENV=production
