/**
 * Pages transitions
 **/
.page-enter-active,
.page-leave-active {
  transition: var(--transition-slow) ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--transition-slow);
}

.fade-enter-active,
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

/**
 * Items transitions
 */
.list-enter-active,
.list-leave-active {
  transition: 0.5s;
}

.list-enter-to,
.list-leave {
  opacity: 1;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.list-complete-leave-active,
.list-complete-enter-active {
  position: absolute;
}

/**
 * Sequential entrances
 */
.animationFade {
  opacity: 0;
  animation-name: animationFade;
  animation-duration: var(--transition-slow);
  animation-fill-mode: forwards;
}

.animationBounce {
  opacity: 0;
  transform: translateY(20px) scale(0.975);
  animation: 0.765s var(--ease-back-out) 0.25s forwards backSlideIn;
}

.animationFadeBounce {
  opacity: 0;
  transform: scale(0.975);
  animation-name: backSlideIn;
  animation-duration: var(--transition-slow);
  animation-fill-mode: forwards;
}

@keyframes animationFade {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backSlideIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
