@require '~@/assets/styles/mixins.styl'

font-face( 'Source Code Pro', '~@/assets/fonts/source-code-pro/sourcecodepro-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Source Code Pro Regular' )
