doctype
html(lang="fr")
	head
		meta(charset="utf-8")
		title Emmanuel Béziat
		script.
			var l = window.location;
			l.replace(
				l.protocol + '//' + l.hostname + (l.port ? ':' + l.port : '') +
				'/?' +
				(l.pathname ? 'p=' + l.pathname.replace(/&/g, '~and~') : '') +
				(l.search ? '&q=' + l.search.slice(1).replace(/&/g, '~and~') : '') +
				l.hash);
	body
