@font-face {
  font-family: "Source Sans 3";
  src: url("SourceSans3-VariableFont_wght.woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("SourceSans3-Italic-VariableFont_wght.woff2");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

@supports (not (font-variation-settings: normal)) {
	@font-face {
		font-family: "Source Sans 3";
		src: url("SourceSans3-Light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Source Sans 3";
		src: url("SourceSans3-LightItalic.woff2") format("woff2");
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Source Sans 3";
		src: url("SourceSans3-Regular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Source Sans 3";
		src: url("SourceSans3-Italic.woff2") format("woff2");
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Source Sans 3";
		src: url("SourceSans3-Bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Source Sans 3";
		src: url("SourceSans3-BoldItalic.woff2") format("woff2");
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}
}
