.form__group
	display flex
	align-content center

.form__group + .form__group
	margin-top rem(10px)

.form__label--hidden
	size(1px)
	position absolute
	overflow hidden
	visibility hidden
	opacity 0

.form__input
	flex 1
	outline 0
	box-shadow none
	background none
	border 0
	color $color-text
	border-bottom 1px solid $color-red
	line-height 2em
