.loader
	display flex
	flex-direction column
	align-items center
	padding 2rem 0

.loader__item
	border 5px solid $color-blue
	border-radius 50%
	size rem(30px)
	opacity 0
	animation pulsate 1s ease-out
	animation-iteration-count infinite

.loader__title
	color $color-blue
	margin-top rem(10px)
