.c-social
[class^="c-social"]
	display inline-block
	size rem(36px)
	padding .5em
	background darken($color-background, 25%)
	border-radius 2px
	transition .5s ease-out
	overflow hidden
	border 0
	cursor pointer
	outline 0

	&:hover
	&:focus
		transition .2s ease-out

[class^="c-social"] + [class^="c-social"]
	margin-left $gutter-small

brand-icon(c-social--twitter, $color-brand-twitter)
brand-icon(c-social--facebook, $color-brand-facebook)
brand-icon(c-social--google-plus, $color-brand-google-plus)
brand-icon(c-social--linkedin, $color-brand-linkedin)
