.site
	min-height $size-viewport-height
	display flex
	flex-direction row
	align-items stretch
	overflow-x hidden

	@media (max-width $breakpoint-tablet)
		flex-direction column
		padding-bottom rem(80px)

.site-content
	padding 2em
	width $size-content
	margin 0 auto

	@media (max-width $breakpoint-tablet)
		min-width 100%
		width auto

.site-main
	margin 6rem auto 4rem

	@media (max-width $breakpoint-tablet)
		margin 2rem auto
