.site-header
	padding 2rem
	background darken($color-background, 10%)
	width $size-header
	min-width $size-header
	position relative
	z-index 10
	text-align center

	@media (max-width $breakpoint-tablet)
		width auto

.site-header__title
	margin 0
	font-size $font-size-heading-1
	line-height 1
	font-weight 400

.site-header__bio
	margin 2rem 0

	@media (max-width $breakpoint-tablet)
		display none

.site-header__picture
	border-radius 50%
	vertical-align top
	margin 2rem auto

	@media (max-width $breakpoint-tablet)
		display none

.site-header__copyright
	@media (max-width $breakpoint-tablet)
		display none

.social
	display flex
	flex-flow row wrap
	justify-content space-between

	@media (max-width $breakpoint-tablet)
		justify-content center
		margin-top 1rem

.social__link
	display block
	size 3rem
	padding .5em
	background darken($color-background, 25%)
	border-radius 2px
	margin-bottom 4px
	transition .5s ease-out
	overflow hidden

	&::after
		display none

	&:hover
	&:focus
		transition .2s ease-out

	@media (max-width $breakpoint-tablet)
		margin-left 4px
		&:first-child
			margin-left 0

brand-icon(social__link--twitter, $color-brand-twitter)
brand-icon(social__link--facebook, $color-brand-facebook)
brand-icon(social__link--google-plus, $color-brand-google-plus)
brand-icon(social__link--linkedin, $color-brand-linkedin)
brand-icon(social__link--codepen, $color-brand-codepen)
brand-icon(social__link--github, $color-brand-github)
brand-icon(social__link--codepen, $color-brand-codepen)

.social__icon
	display block
	fill $color-text
	size 100%
