.site-menu
	display flex
	justify-content flex-end

	@media (max-width $breakpoint-mobile)
		justify-content space-between
		position fixed
		background darken($color-background, 10%)
		left 0
		right 0
		bottom 0
		z-index 50

.site-menu__link
	font 400 $font-size-menu/1 $font-stack-heading
	text-decoration none
	color $color-text
	position relative
	@media (max-width $breakpoint-mobile)
		font-size $font-size-heading-2
		line-height 1.45em
		text-align center
		flex 1

	&::before
	&::after
		display inline-block
		opacity 0
		transition .3s ease-in-out
		color $color-text

	&::before
		content "<"
		transform translateX(20px)
		padding-right .125em
		@media (max-width $breakpoint-mobile)
			content "\e800"
			font-family "Icons"
			transform none
			padding 0
			opacity 1
			font-size $font-size-heading
	&::after
		content "/>"
		transform translateX(-20px)
		padding-left .1875em
		@media (max-width $breakpoint-mobile)
			display none

	&:nth-of-type(1)
		&:hover
		&:focus
			color $color-green
		&::before
			@media (max-width $breakpoint-mobile)
				content "\e800"

	&:nth-of-type(2)
		&:hover
		&:focus
			color $color-blue
		&::before
			@media (max-width $breakpoint-mobile)
				content "\e800"

	&:nth-of-type(3)
		&:hover
		&:focus
			color $color-red
		&::before
			@media (max-width $breakpoint-mobile)
				content "\e800"

.site-menu__link--active
	&:hover
		&::before
		&::after
			color inherit

	&:nth-of-type(1)
		color $color-green

	&:nth-of-type(2)
		color $color-blue

	&:nth-of-type(3)
		color $color-red

.site-menu__link--active
.site-menu__link:hover
.site-menu__link:focus
	&::before
	&::after
		opacity 1
		transform translateX(0)

.site-menu__icon
	display inline-block
	height rem(3px)
	width rem(28px)
	margin-right rem(10px)
	background $color-text
	position relative
	transition .3s ease-in-out

	&::before
	&::after
	span
		content ""
		position absolute
		width inherit
		height inherit
		background inherit
		left 0
		top 0
		transition inherit

	&::before
		transform translateY(-10px)

	&::after
		transform translateY(10px)
