font-face( 'Source Sans Pro', './assets/fonts/source-sans-pro/sourcesanspro-light', 200, normal, formats: local woff2 woff, local-font-name: 'Source Sans Pro Light' )
font-face( 'Source Sans Pro', './assets/fonts/source-sans-pro/sourcesanspro-lightit', 200, italic, formats: local woff2 woff, local-font-name: 'Source Sans Pro Light' )
font-face( 'Source Sans Pro', './assets/fonts/source-sans-pro/sourcesanspro-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Source Sans Pro Regular' )
font-face( 'Source Sans Pro', './assets/fonts/source-sans-pro/sourcesanspro-it', 400, italic, formats: local woff2 woff, local-font-name: 'Source Sans Pro Regular' )
font-face( 'Source Sans Pro', './assets/fonts/source-sans-pro/sourcesanspro-semibold', 600, normal, formats: local woff2 woff, local-font-name: 'Source Sans Pro Semibold' )
font-face( 'Source Sans Pro', './assets/fonts/source-sans-pro/sourcesanspro-semiboldit', 600, italic, formats: local woff2 woff, local-font-name: 'Source Sans Pro Semibold' )

font-face( 'Yanone Kaffeesatz', './assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight', 100, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Extralight' )
font-face( 'Yanone Kaffeesatz', './assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light', 200, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Light' )
font-face( 'Yanone Kaffeesatz', './assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Regular' )
font-face( 'Yanone Kaffeesatz', './assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold', 700, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Bold' )

font-face( 'Icons', './assets/fonts/icons/icons', formats: woff2 woff )

[class^="icon-"]
[class*=" icon-"]
	font-size 16px
	vertical-align top
	text-align center
	-moz-transition color .1s ease-in 0
	-webkit-transition color .1s ease-in 0
	display inline-block
	font-family Icons
	font-style normal
	font-weight normal
	font-variant normal
	line-height 1
	text-decoration inherit
	text-transform none
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	speak none

.animate-spin
	animation spin 2s infinite linear
	display inline-block

.icon-heart::before
	content '\e800'
.icon-star::before
	content '\e801'
.icon-star-empty::before
	content '\e802'
.icon-heart-empty::before
	content '\e803'
.icon-mail-alt::before
	content '\e804'
.icon-edit::before
	content '\e805'
.icon-github::before
	content '\e806'
.icon-linkedin::before
	content '\e807'
.icon-wordpress::before
	content '\e808'
.icon-youtube::before
	content '\e809'
.icon-left-small::before
	content '\e80a'
.icon-download-cloud::before
	content '\e80b'
.icon-upload-cloud::before
	content '\e80c'
.icon-attention::before
	content '\e80d'
.icon-attention-circled::before
	content '\e80e'
.icon-down-small::before
	content '\e80f'
.icon-level-down::before
	content '\e810'
.icon-link::before
	content '\e811'
.icon-info-circled::before
	content '\e812'
.icon-help-circled::before
	content '\e813'
.icon-angle-left::before
	content '\e814'
.icon-angle-right::before
	content '\e815'
.icon-angle-up::before
	content '\e816'
.icon-angle-down::before
	content '\e817'
.icon-cog::before
	content '\e818'
.icon-cog-alt::before
	content '\e819'
.icon-fork::before
	content '\e81a'
.icon-right-small::before
	content '\e81b'
.icon-code::before
	content '\e81c'
.icon-instagram::before
	content '\e81d'
.icon-apple::before
	content '\e81e'
.icon-bug::before
	content '\e81f'
.icon-drupal::before
	content '\e820'
.icon-dropbox::before
	content '\e821'
.icon-up-small::before
	content '\e822'
.icon-git::before
	content '\e823'
.icon-windows::before
	content '\e824'
.icon-cancel::before
	content '\e825'
.icon-qq::before
	content '\e826'
.icon-pinterest::before
	content '\e827'
.icon-trello::before
	content '\e828'
.icon-tumblr::before
	content '\e829'
.icon-joomla::before
	content '\e82a'
.icon-ok::before
	content '\e82b'
.icon-html5::before
	content '\e82c'
.icon-tag::before
	content '\e82d'
.icon-comment::before
	content '\e82e'
.icon-vine::before
	content '\e82f'
.icon-stackoverflow::before
	content '\e830'
.icon-slack::before
	content '\e831'
.icon-skype::before
	content '\e832'
.icon-android::before
	content '\e833'
.icon-off::before
	content '\e834'
.icon-down-open::before
	content '\e835'
.icon-left-open::before
	content '\e836'
.icon-right-open::before
	content '\e837'
.icon-up-open::before
	content '\e838'
.icon-cart::before
	content '\e839'
.icon-share::before
	content '\e83a'
.icon-asterisk::before
	content '\e83b'
.icon-search::before
	content '\e83c'
.icon-desktop::before
	content '\e83d'
.icon-laptop::before
	content '\e83e'
.icon-tablet::before
	content '\e83f'
.icon-mobile::before
	content '\e840'
.icon-paper-plane::before
	content '\e841'
.icon-terminal::before
	content '\e842'
.icon-picture::before
	content '\e843'
.icon-link-1::before
	content '\e844'
.icon-mail::before
	content '\e845'
.icon-spotify::before
	content '\e84a'
.icon-home::before
	content '\e84b'
.icon-external::before
	content '\e84c'
.icon-googleplus::before
	content '\e84e'
.icon-reply-single::before
	content '\e84f'
.icon-codepen::before
	content '\e850'
.icon-facebook::before
	content '\e851'
.icon-twitter::before
	content '\e852'