$color-background = #263238
$color-text = #eee

$font-size-base = 16px

$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-stack-heading = "Yanone Kaffeesatz", $font-stack-common
$font-stack-code = "Source Code", monospace
