// Source Sans Pro (base)
font-face( 'Source Sans Pro', '/fonts/source-sans-pro/sourcesanspro-light', 200, normal, formats: local woff2 woff, local-font-name: 'Source Sans Pro Light' )
font-face( 'Source Sans Pro', '/fonts/source-sans-pro/sourcesanspro-lightit', 200, italic, formats: local woff2 woff, local-font-name: 'Source Sans Pro Light' )
font-face( 'Source Sans Pro', '/fonts/source-sans-pro/sourcesanspro-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Source Sans Pro Regular' )
font-face( 'Source Sans Pro', '/fonts/source-sans-pro/sourcesanspro-it', 400, italic, formats: local woff2 woff, local-font-name: 'Source Sans Pro Regular' )
font-face( 'Source Sans Pro', '/fonts/source-sans-pro/sourcesanspro-semibold', 600, normal, formats: local woff2 woff, local-font-name: 'Source Sans Pro Semibold' )
font-face( 'Source Sans Pro', '/fonts/source-sans-pro/sourcesanspro-semiboldit', 600, italic, formats: local woff2 woff, local-font-name: 'Source Sans Pro Semibold' )

// Yanone Kaffeesats (heading)
font-face( 'Yanone Kaffeesatz', '/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight', 100, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Extralight' )
font-face( 'Yanone Kaffeesatz', '/fonts/yanone-kaffeesatz/yanonekaffeesatz-light', 200, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Light' )
font-face( 'Yanone Kaffeesatz', '/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Regular' )
font-face( 'Yanone Kaffeesatz', '/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold', 700, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Bold' )

// Source Code Pro
font-face( 'Source Code Pro', '/fonts/source-code-pro/sourcecodepro-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Source Code Pro Regular' )

// Icons fontello
font-face( 'Icons', '/fonts/icons/icons', 400, normal, formats: woff2 woff )
