// Colors
$color-background = #263238
$color-text = #eee

$color-grey = #546e7a
$color-green = #c3e88d
$color-blue = #82aac1
$color-violet = #c792cf
$color-yellow = #ffcb6b
$color-red = #f77669

$color-brand-twitter = #55acee
$color-brand-facebook = #3b5988
$color-brand-google-plus = #dc4e41
$color-brand-codepen = #000
$color-brand-github = #333
$color-brand-linkedin = #0077b5

$color-separator = lighten($color-background, 10%)

// Font sizes
$font-size-base = 16px

$font-size-heading-1 = rem(48px)
$font-size-heading-2 = rem(36px)
$font-size-heading-3 = rem(24px)
$font-size-heading-4 = rem(18px)

$font-size-logo = $font-size-heading-1

$font-size-article-title = $font-size-heading-1
$font-size-article-title-small = rem(32px)
$font-size-article-infos = rem(14px)

$font-size-menu = rem(30px)
$font-size-quotes = rem(20px)
$font-size-code = rem(14px)

// Font families
$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-stack-heading = "Yanone Kaffeesatz", $font-stack-common
$font-stack-code = "Source Code Pro", monospace


// Sizes
$size-viewport-height = 100vh
$size-header = 20rem
$size-content = 50rem


// Media queries breakpoint
$breakpoint-tablet = rem(1024px)
$breakpoint-mobile = rem(640px)
