@require '~@/assets/styles/mixins.styl'

font-face( 'Yanone Kaffeesatz', '~@/assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-extralight', 100, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Extralight' )
font-face( 'Yanone Kaffeesatz', '~@/assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-light', 200, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Light' )
font-face( 'Yanone Kaffeesatz', '~@/assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-regular', 400, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Regular' )
font-face( 'Yanone Kaffeesatz', '~@/assets/fonts/yanone-kaffeesatz/yanonekaffeesatz-bold', 700, normal, formats: local woff2 woff, local-font-name: 'Yanone Kaffeesatz Bold' )
