/**
 * Pages transitions
 **/

// Slide
.slide-left-enter
.slide-right-leave-to
	opacity 0
	transform translateX(-15%)

.slide-right-enter
.slide-left-leave-to
	opacity 0
	transform translateX(15%)

.slide-left-enter-active
.slide-right-enter-active
.slide-left-leave-active
.slide-right-leave-active
	transition transform .25s ease-in-out, opacity .25s ease-in-out

.slide-left-enter-to
.slide-right-enter-to
	transform translateX(0)
	opacity 1


// Animation icons
.animate-spin
	animation spin 2s infinite linear
	display inline-block

@keyframes spin
	from
		transform rotate(0deg)

	to
		transform rotate(359deg)

// Loader
@keyframes pulsate
	0%
		// transform scale(.1)
		opacity 0

	25%
	75%
		opacity 1

	100%
		// transform scale(1.2)
		opacity 0
