@font-face
	font-family 'Source Sans Pro'
	src local('Source Sans Pro Light'), url('./assets/fonts/source-sans-pro/sourcesanspro-light.woff2') format('woff2')
	font-weight 200
	font-style normal
	font-display swap

@font-face
	font-family 'Source Sans Pro'
	src local('Source Sans Pro Light'), url('./assets/fonts/source-sans-pro/sourcesanspro-lightit.woff2') format('woff2')
	font-weight 200
	font-style italic
	font-display swap

@font-face
	font-family 'Source Sans Pro'
	src local('Source Sans Pro Regular'), url('./assets/fonts/source-sans-pro/sourcesanspro-regular.woff2') format('woff2')
	font-weight 400
	font-style normal
	font-display swap

@font-face
	font-family 'Source Sans Pro'
	src local('Source Sans Pro Regular'), url('./assets/fonts/source-sans-pro/sourcesanspro-it.woff2') format('woff2')
	font-weight 400
	font-style italic
	font-display swap

@font-face
	font-family 'Source Sans Pro'
	src local('Source Sans Pro Semibold'), url('./assets/fonts/source-sans-pro/sourcesanspro-semibold.woff2') format('woff2')
	font-weight 600
	font-style normal
	font-display swap

@font-face
	font-family 'Source Sans Pro'
	src local('Source Sans Pro Semibold'), url('./assets/fonts/source-sans-pro/sourcesanspro-semiboldit.woff2') format('woff2')
	font-weight 600
	font-style italic
	font-display swap
