.c-search
	margin-bottom 2rem
	display flex

.c-search__input
	flex 1
	padding 10px 1rem
	background darken($color-background, 10%)
	border 1px solid $color-grey
	box-shadow none
	outline none
	color $color-text
	transition .25s ease-in-out

	&:focus
		border-color $color-blue

	&::placeholder
		color $color-blue
