.sr-only
	clip rect(1px, 1px, 1px, 1px)
	size 1px !important
	visibility hidden !important
	opacity 0 !important
	overflow hidden !important
	position absolute !important

// Text alignments
.text-align-left
	text-align left

.text-align-right
	text-align right

.text-align-center
	text-align center

.text-align-justify
	text-align justify

// Video responsive (ratio 16/9)
.video
	position relative
	padding-bottom 56.25%
	margin 2rem auto
	height 0

.video iframe
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	border 0

.noscript
	max-width rem(480px)
	margin rem(60px) auto
	font-size rem(20px)

.iframe-codepen
	width 100%
