@require '~@/assets/styles/mixins.styl'

font-face('Icons', '~@/assets/fonts/icons/icons', 400, normal, formats: woff2 woff)

.icon::before,
[class^="icon-"]::before,
[class*="icon-"]::before
	font-family "Icons"
	font-style normal
	font-weight normal
	speak none
	display inline-block
	text-decoration inherit
	width 1em
	text-align center
	font-variant normal
	text-transform none
	line-height 1em

.icon-home::before
	content "\e800" // ''
.icon-briefcase::before
	content "\e801" // ''
.icon-comment::before
	content "\e802" // ''
.icon-link::before
	content "\e803" // ''
.icon-cog::before
	content "\e804" // ''
.icon-external::before
	content "\e805" // ''
.icon-basket::before
	content "\e806" // ''
.icon-heart::before
	content "\e807" // ''
.icon-heart-empty::before
	content "\e808" // ''
.icon-star::before
	content "\e809" // ''
.icon-star-empty::before
	content "\e80a" // ''
.icon-facebook::before
	content "\e80b" // ''
.icon-youtube-play::before
	content "\e80c" // ''
.icon-tag::before
	content "\e80d" // ''
.icon-code::before
	content "\e80e" // ''
.icon-attention::before
	content "\e80f" // ''
.icon-attention-circled::before
	content "\e810" // ''
.icon-stackoverflow::before
	content "\e811" // ''
.icon-help-circled::before
	content "\e812" // ''
.icon-info-circled::before
	content "\e813" // ''
.icon-slack::before
	content "\e814" // ''
.icon-share::before
	content "\e815" // ''
.icon-terminal::before
	content "\e816" // ''
.icon-bug::before
	content "\e817" // ''
.icon-paper-plane::before
	content "\e818" // ''
.icon-mail-alt::before
	content "\e819" // ''
.icon-mail::before
	content "\e81a" // ''
.icon-twitter::before
	content "\e81b" // ''
.icon-search::before
	content "\e81c" // ''
.icon-outlook::before
	content "\e81d" // ''
.icon-coffee::before
	content "\e81e" // ''
.icon-ok::before
	content "\e81f" // ''
.icon-cancel::before
	content "\e820" // ''
.icon-desktop::before
	content "\e821" // ''
.icon-laptop::before
	content "\e822" // ''
.icon-tablet::before
	content "\e823" // ''
.icon-mobile::before
	content "\e824" // ''
.icon-fork::before
	content "\e827" // ''
.icon-android::before
	content "\e828" // ''
.icon-apple::before
	content "\e829" // ''
.icon-windows::before
	content "\e82a" // ''
.icon-wordpress::before
	content "\e82b" // ''
.icon-arrow-left::before
	content "\e82c" // ''
.icon-arrow-right::before
	content "\e82d" // ''
.icon-qq::before
	content "\e82e" // ''
.icon-linkedin::before
	content "\e82f" // ''
.icon-html::before
	content "\e830" // ''
.icon-instagram::before
	content "\e831" // ''
.icon-joomla::before
	content "\e832" // ''
.icon-drupal::before
	content "\e833" // ''
.icon-dropbox::before
	content "\e834" // ''
.icon-arrow-up::before
	content "\e835" // ''
.icon-arrow-down::before
	content "\e836" // ''
.icon-github::before
	content "\e837" // ''
.icon-codeopen::before
	content "\e838" // ''
.icon-picture::before
	content "\e83a" // ''
.icon-ios::before
	content "\e83c" // ''
.icon-onedrive::before
	content "\e83d" // ''
.icon-download::before
	content "\e83e" // ''
.icon-upload::before
	content "\e83f" // ''
.icon-vue::before
	content "\e858" // ''
.icon-nodejs::before
	content "\e859" // ''
.icon-javascript::before
	content "\e85a" // ''
.icon-npm::before
	content "\e85d" // ''
.icon-react::before
	content "\e85e" // ''
.icon-sass::before
	content "\e85f" // ''
.icon-less::before
	content "\e862" // ''
.icon-symfony::before
	content "\e864" // ''
.icon-down-open::before
	content "\f004" // ''
.icon-up-open::before
	content "\f005" // ''
.icon-right-open::before
	content "\f006" // ''
.icon-left-open::before
	content "\f007" // ''
.icon-gplus::before
	content "\f0d5" // ''
.icon-comment-empty::before
	content "\f0e5" // ''
.icon-bell-alt::before
	content "\f0f3" // ''
.icon-help::before
	content "\f128" // ''
.icon-info::before
	content "\f129" // ''
.icon-attention-alt::before
	content "\f12a" // ''
.icon-trello::before
	content "\f181" // ''
.icon-wheelchair::before
	content "\f193" // ''
.icon-database::before
	content "\f1c0" // ''
.icon-git::before
	content "\f1d3" // ''
.icon-commenting::before
	content "\f27a" // ''
.icon-gitlab::before
	content "\f296" // ''
