.c-note
	margin 2rem auto
	background lighten($color-background, 2%)
	padding 1em 2em 1em 2em
	border-left 3px solid transparent
	position relative

.c-note::before
	font 1em/1.75 "Icons"
	position absolute
	left -2px
	transform translateX(-50%)
	width 1.75em
	height 1.75em
	text-align center
	border-radius 50%
	color $color-background

.c-note--info
	border-color $color-blue
	&::before
		content '\f129'
		background $color-blue

.c-note--success
	border-color $color-green
	&::before
		content '\e81f'
		background $color-green

.c-note--question
	border-color $color-violet
	&::before
		content '\f128'
		background $color-violet

.c-note--important
	border-color $color-yellow
	&::before
		content '\f12a'
		background $color-yellow

.c-note--alert
	border-color $color-red
	&::before
		content '\f0f3'
		background $color-red
