.c-tag
	display inline-block
	background lighten($color-background, 5%)
	padding 0 .5em
	color $color-text

/*.c-tag:hover
	background darken($color-background, 25%)
	color inherit*/

.c-tag + .c-tag
	margin-left .35em
