html
	box-sizing border-box
	overflow-y scroll

*
*::before
*::after
	box-sizing inherit

::selection
	background $color-blue
	color $color-text
	text-shadow 0 1px solid darken($color-blue, 50%)

body
	margin 0
	font 400 $font-size-base/1.5em $font-stack-common
	background $color-background
	color $color-text

h1
h2
h3
	font-family $font-stack-heading
	font-weight 200
	margin 2em 0 .75em

h2
	font-size $font-size-heading-2
	color $color-green

h3
	font 700 $font-size-heading-3/1.5 $font-stack-common

// Links
a
	transition .2s ease-in-out
	color $color-green
	text-decoration none

	&:hover
	&:focus
		color $color-yellow

// Quotes
blockquote
	position relative
	margin 2rem 0
	padding-left 4rem
	font 400 italic $font-size-quotes/1.5em $font-stack-common

blockquote::before
	content "“"
	position absolute
	left 0
	top 2rem
	font-size 6em
	color lighten($color-background, 25%)

q
	quotes "« " " »"

// Layout base
.site
	min-height $size-viewport-height
	display flex
	flex-direction row
	align-items stretch
	overflow-x hidden

.site-content
	padding 2em
	width $size-content
	margin 0 auto

.site-main
	margin 6em auto 4em

.flex
	display flex
	justify-content space-between
	align-items center
