html
	height 100%
	box-sizing border-box
	overflow-y scroll

*
*::before
*::after
	box-sizing inherit

body
	margin 0
	font 400 $font-size-base/1.5em $font-stack-common
	background $color-background
	color $color-text
	height 100%

h1
h2
	font-family $font-stack-heading
	font-weight 200

a
	transition .2s ease-in-out
	color $color-green
	text-decoration none

	&:hover
	&:focus
		color $color-yellow

.site
	min-height 100%
	display flex
	flex-direction row
	align-items stretch
	overflow-x hidden

.site-content
	padding 2em
	width 50rem
	margin 0 auto
