// ITCSS architecture

// 1. Settings
@require 'settings/variables.styl'

// 2. Tools
@require 'tools/mixins.styl'

// 3. Generic
@require 'generic/reset.styl'
@require 'generic/normalize.styl'

// 4. Base
@require 'base/base.styl'
@require 'base/fonts.styl'
@require 'base/animations.styl'

// 5. Objects

// 6. Components
@require 'components/layout/header.styl'
@require 'components/layout/menu.styl'
@require 'components/layout/footer.styl'

@require 'components/modules/tags.styl'
@require 'components/modules/share.styl'
@require 'components/modules/icons.styl'
@require 'components/modules/notes.styl'
@require 'components/modules/loader.styl'

@require 'components/pages/home.styl'
@require 'components/pages/not-found.styl'
@require 'components/pages/posts-list.styl'
@require 'components/pages/post.styl'
@require 'components/pages/portfolio-list.styl'

@require 'vendors/prism.styl'

// 7. Helpers
@require 'helpers/helpers.styl'
