::selection {
	background: var(--color-blue);
	color: var(--color-text);
	text-shadow: 0 1px 0 rgb(0 0 0 / .5);
}

:root {
	scrollbar-gutter: stable;
	interpolate-size: allow-keywords;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}

	:focus {
		transition: outline-offset var(--transition-fast) ease;
		outline-offset: 5px;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: var(--color-surface);
	color: var(--color-text);
	font: 400 var(--font-size-base)/1.5 var(--font-stack-common);

	--color-thumb: var(--color-green);

	&::-webkit-scrollbar-track {
		background: none;
	}

	&::-webkit-scrollbar {
		width: 12px;
		background: none;
	}

	&::-webkit-scrollbar-thumb {
		border: 2px solid var(--color-surface);
		border-radius: .5rem;
		transition: background-color var(--transition-fast) ease-in-out;
		background: var(--color-thumb);
	}

	&.portfolio {
		--color-thumb: var(--color-blue);
	}

	&.projects {
		--color-thumb: var(--color-yellow);
	}

	&.blog {
		--color-thumb: var(--color-red);
	}

	&.me {
		--color-thumb: var(--color-violet);
	}
}

a {
	background-color: transparent;
	color: var(--color-green);
	text-decoration: none;
	transition: color var(--transition-xfast) ease-in-out;
}

a:is(:hover, :focus) {
	color: var(--color-yellow);
	outline: none;
}

a:not([href], [class]),
a:not([href], [class]):hover {
	color: inherit;
}

i[lang] {
	font-style: normal;
}

img,
svg {
	max-width: 100%;
	vertical-align: top;
}

h1, h2, h3, h4 {
	font: 300 var(--title-size)/1 var(--font-stack-heading);
	color: var(--title-color);
	margin: 1.5em 0 .75em;
}

h1 {
	--title-size: var(--font-size-heading-1);
	--title-color: var(--color-green);
}

h2 {
	--title-size: var(--font-size-heading-2);
	--title-color: var(--color-green);
}

h3 {
	--title-size: var(--font-size-heading-3);
	--title-color: var(--color-yellow);

	line-height: 1.5;
}

:where(button, [type="button"], [type="reset"], [type="submit"]):not(:disabled) {
	cursor: pointer;
}

/* quotes */
blockquote {
	position: relative;
	margin: 2rem 0;
	padding-left: 4rem;
	font: 400 italic var(--font-size-quotes)/1.5em var(--font-stack-common);

	&::before {
		content: "“";
		position: absolute;
		left: 0;
		top: 2rem;
		font-size: 6em;
		color: var(--color-surface-lighter);
	}
}

q {
	font-style: italic;
	color: var(--color-yellow);
	quotes: "« " " »";
}

/* codes */
pre,
code,
kbd,
samp {
	font-family: var(--font-stack-code);
}

kbd {
	background: var(--color-separator);
	font-size: .85rem;
	border-radius: .2em;
	display: inline-block;
	padding: 0 .35em;
	border-bottom: 1px solid var(--color-surface-darker);
	margin: 0 .05em;
}
