.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site {
  min-height: 100dvh;
  overflow-x: hidden;
  display: grid;
  grid-template: "header content"/20rem auto;

	@media (width <= 1120px) {
		grid-template: "header" "content" "footer";
	}

	@media (width <= 768px) {
		padding-bottom: 80px;
	}
}

.site-content {
  padding: var(--gutter-screen-y, 2rem) var(--gutter-screen-x, 2rem);
  width: min(50rem, 100dvw);
  margin-inline: auto;
  grid-area: content;
}

.main {
  margin: 0 auto 2rem;
  outline: 0;
}
