// COLORS

$color-white = #eeeeee
$color-black = #233238

$color-grey = #546e7a
$color-green = #c3e88d
$color-blue = #82aac1
$color-violet = #c792cf
$color-yellow = #ffcb6b
$color-red = #f77669

$color-brand-twitter = #55acee
$color-brand-facebook = #3b5988
$color-brand-codepen = #000
$color-brand-github = #333
$color-brand-linkedin = #0077b5
$color-brand-instagram = #833ab4
$color-brand-youtube = #ff0000

$color-separator = lighten($color-black, 10%)


// FONTS
$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-stack-heading = "Yanone Kaffeesatz"
$font-stack-code = "Source Code Pro", monospace

$font-size-base = 16px
$font-size-title = rem(40px)

$font-size-heading-1 = rem(48px)
$font-size-heading-2 = rem(36px)
$font-size-heading-3 = rem(24px)
$font-size-heading-4 = rem(18px)

$font-size-logo = $font-size-heading-1

$font-size-article-title = $font-size-heading-1
$font-size-article-title-small = rem(32px)
$font-size-article-infos = rem(14px)

$font-size-menu = rem(30px)
$font-size-quotes = rem(20px)
$font-size-code = rem(14px)


// MEDIA QUERIES

$mq-tablet = '(max-width %s)' % rem(768px)
$mq-desktop = '(max-width %s)' % rem(1024px)
