.presentation
	.prism-show-language
		display none

.presentation__title
	text-align center
	font 400 48px/1 $font-stack-heading

.presentation__name
	color $color-blue
	display block
	font-size 82px

.presentation__age
	display block

	span
		color $color-red

.presentation__dev
	color $color-green

	span
		color $color-yellow
