.posts-list__item + .posts-list__item
	margin-top 2.5em
	padding-top 2.5em
	border-top 1px solid lighten($color-background, 10%)

.article__title
	margin 0
	font 400 2rem/1.5em $font-stack-heading

.article__infos
	font-size .9rem
	display flex
	justify-content space-between
	align-items center

.article__tags
	max-width 50%

.article__tag
	display inline-block
	background lighten($color-background, 5%)
	padding 0 .5em

.article__tag + .article__tag
	margin-left .35em

.article__header
	margin-bottom 1em

.article__content
	margin-bottom 1em
