.post
	[target="_blank"]::after
		content "\e803"
		font-family Icons
		vertical-align baseline
		position relative
		bottom 2px
		height 1em
		width 1em
		display inline-block

	h2, h3, h4
		position relative

		&:hover
			.post__anchor::before
				opacity 1
				transform translateX(0)

.post__title
	margin 0
	color $color-red
	font 400 2.8rem/1.5 $font-stack-heading

.post__date
	font-size .8em
	color $color-yellow

.post__header
	margin-bottom 2rem
	padding-bottom 2rem
	border-bottom 1px solid $color-separator

.post__footer
	margin-top 2rem
	padding-top 2rem
	border-top 1px solid $color-separator

.post__help
	font-size .9rem
	margin-top 2rem

.post__anchor::before
	opacity 0
	transition .2s ease-in-out
	transform translateX(-75%)

.post__navigation::before
	transition transform .2s ease-in-out

.post__navigation--previous::before
	margin-right 5px

.post__navigation--previous:hover::before
.post__navigation--previous:focus::before
	transform translateX(-25%)

.post__navigation--next::before
	margin-left 5px

.post__navigation--next:hover::before
.post__navigation--next:focus::before
	transform translateX(25%)
