.article__title
	margin 0
	color $color-red
	font 400 2.8rem/1.5 $font-stack-heading

.article__date
	font-size .8em
	color $color-yellow

.article__header
	margin-bottom 2rem
	padding-bottom 2rem
	border-bottom 1px solid $color-separator

.article__footer
	margin-top 2rem
	padding-top 2rem
	border-top 1px solid $color-separator

.article__help
	font-size .9rem
	margin-top 2rem

.video
	position relative
	padding-bottom 56.25%
	margin 2rem auto
	height 0

.video iframe
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	border 0
