.posts-list__item + .posts-list__item
	margin-top 2.5em
	padding-top 2.5em
	border-top 1px solid $color-separator

.post-list__title
	margin 0
	font 400 2rem/1.5 $font-stack-heading

.post-list__infos
	font-size .9rem
	display flex
	justify-content space-between
	align-items center

.post-list__tags
	max-width 50%

.post-list__header
	margin-bottom 1em

.post-list__content
	margin-bottom 1em
