.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	min-width: fit-content;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus, :focus-within, caption) {
	position: absolute;
}
