/**
 * Pages transitions
 **/
.page-enter-active,
.page-leave-active {
  transition: var(--transition-slow) ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--transition-slow);
}

.fade-enter-active,
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

/**
 * Items transitions
 */
.list-enter-active,
.list-leave-active {
  transition: .5s;
}

.list-enter-to,
.list-leave {
  opacity: 1;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.list-complete-leave-active,
.list-complete-enter-active {
  position: absolute;
}

/**
 * Sequential entrances
 */
.animation-fade {
  opacity: 0;
  animation-name: animationFade;
  animation-duration: var(--transition-slow);
  animation-fill-mode: forwards;
}

.animation-bounce {
  opacity: 0;
  transform: translateY(20px) scale(.975);
  animation: .765s var(--ease-back-out) .25s forwards backSlideIn;
}

.animation-fade-bounce {
  opacity: 0;
  transform: scale(.975);
  animation-name: backSlideIn;
  animation-duration: var(--transition-slow);
	animation-timing-function: var(--ease-back-out);
  animation-fill-mode: forwards;
}

.animation-fade-scale {
	opacity: 0;
	transform: translateY(16px) scale(.925);
	animation-name: animationFadeScale;
	transform-origin: bottom left;
	animation-timing-function: var(--ease-back-out);
  animation-duration: var(--transition-slow);
  animation-fill-mode: forwards;
}

.animation-skew-y {
	opacity: 0;
	transform: translateY(25%) skewY(-5deg);
	transform-origin: top right;
	animation: .765s var(--ease-back-out) .25s forwards animationSkewY;
}

.animation-skew-y-revert {
	opacity: 0;
	transform: translateY(25%) skewY(5deg);
	transform-origin: top left;
	animation: .765s var(--ease-back-out) .25s forwards animationSkewY;
}

@keyframes animationFade {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animationFadeScale {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes backSlideIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes animationSkewY {
	to {
		opacity: 1;
		transform: translateY(0) skewY(0);
	}
}
