/**
 * Pages transitions
 **/
.page-enter-active,
.page-leave-active {
	transition: var(--transition-slow) ease;
}

.page-enter,
.page-leave-active {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity var(--transition-slow);
}

.fade-enter-active,
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-to {
	opacity: 1;
}

/**
 * Items transitions
 */
.list-enter-active,
.list-leave-active {
	transition: .5s;
}

.list-enter-to,
.list-leave {
	opacity: 1;
}

.list-enter,
.list-leave-to {
	opacity: 0;
}

.list-complete-leave-active,
.list-complete-enter-active {
	position: absolute;
}

/**
 * Sequential entrances
 */
.animation-fade {
	opacity: 0;
	animation-name: animation-fade;
	animation-duration: var(--transition-slow);
	animation-fill-mode: forwards;
}

.animation-bounce {
	opacity: 0;
	translate: 0 20px;
	scale: .975;
	animation: .765s var(--ease-back-out) .25s forwards animation-back-slide-in;
}

.animation-fade-bounce {
	opacity: 0;
	scale: .975;
	animation-name: animation-back-slide-in;
	animation-duration: var(--transition-slow);
	animation-timing-function: var(--ease-back-out);
	animation-fill-mode: forwards;
}

.animation-fade-scale {
	opacity: 0;
	translate: 0 16px;
	scale: .925;
	animation-name: animation-fade-scale;
	transform-origin: bottom left;
	animation-timing-function: var(--ease-back-out);
	animation-duration: var(--transition-slow);
	animation-fill-mode: forwards;
}

.animation-skew-y {
	opacity: 0;
	translate: 0 25%;
	transform: skewY(-5deg);
	transform-origin: top right;
	animation: .765s var(--ease-back-out) .25s forwards animation-skew-y;
}

.animation-skew-y-revert {
	opacity: 0;
	translate: 0 25%;
	transform: skewY(5deg);
	transform-origin: top left;
	animation: .765s var(--ease-back-out) .25s forwards animation-skew-y;
}

@keyframes animation-fade {
	to {
		opacity: 1;
	}
}

@keyframes animation-fade-scale {
	to {
		opacity: 1;
		translate: 0 0;
		scale: 1;
	}
}

@keyframes animation-back-slide-in {
	to {
		opacity: 1;
		translate: 0 0;
		scale: 1;
	}
}

@keyframes animation-skew-y {
	to {
		opacity: 1;
		translate: 0 0;
		transform: skew(0);
	}
}
